{# use it like this
	{% set postslist = collections.posts | head(-3) %}
	{% include "components/postslist.njk" %}
 #}
<section class="max-w-7xl postlist container my-10 mx-auto px-5 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">

  {% for post in postslist | reverse %}
    <a href="{{ post.url | url }}" class="max-w-xl overflow-hidden bg-white rounded-lg shadow-xl shadow-gray-100 text-ellipsis" >
      <div class="relative">

        {% if post.data.featured_image %}
          {% image post.data.featured_image, imgclass="object-cover w-full" %}
        {% else %}
          {% image "./src/img/open-graph.png", imgclass="object-cover w-full" %}
        {% endif %}

        <div class="p-6">
          <div class="text-ellipsis overflow-hidden">

            {# add tags list #}
            <div class="space-x-2  mb-6">
              {% for tag in post.data.tags | filterTagList %}
                {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                <span class="py-1 px-3 rounded-full uppercase text-xs shadow-xl shadow-blue-100 bg-blue-900 text-white {% tagsmeta tag %}">{{ tag }}</span>
              {% endfor %}
            </div>

            {# heading and excerpt #}
            <h2 class="block text-2xl font-bold text-gray-700">
              {% if post.data.title %}
                {{ post.data.title }}
              {% else %}
                <code>{{ post.url }}</code>
              {% endif %}
            </h2>
            <p class="mt-2 text-gray-500">{{ post.templateContent | excerpt(100) }}</p>
          </div>

        </div>

      </div>
    </a>
  {% endfor %}
</section>