---
layout: layouts/base.njk
templateClass: bookmarklet
---

{% include "partials/hero.njk" %}

<article class="max-w-4xl mx-auto p-6 {{ custom_class }}">
	{{ content | safe }}

	{% set footnavlist = collections.bookmarklets %}
	{% include "components/footnav.njk" %}
</article>