---
templateClass: home-page
---
{# extend this layout when you need to replace home page blocks #}

{%- extends "layouts/base.njk" %}
{# {%- block lang %}
    {% include "partials/lang.njk" %}
{%- endblock %} #}
{# {%- block before_footer %}
    <p>before footer</p>
{%- endblock %} #}