---
layout: layouts/base.njk
templateClass: page
---

{% include "partials/hero.njk" %}

<article class="max-w-4xl mx-auto p-6">
	{{ content | safe }}
	{% set footnavlist = collections.pages %}
	{% include "components/footnav.njk" %}
</article>