---
layout: layouts/base.njk
templateClass: post
---
<div class="main-container pt-6 bg-gray-100">
	<div class="px-5 py-10 text-center space-y-2 text-gray-700"
			>
		<h1 class="text-3xl sm:text-4xl font-bold ">{{ title }}</h1>
		<p class="text-gray-700">{{subtitle}}</p>
		<time class="text-gray-500 text-sm py-2" datetime="{{ page.date | htmlDateString }}">Updated on: {{ page.date | readableDate }}</time>
		<div class="w-full">
			{%- for tag in tags | filterTagList %}
				{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
				<a href="{{ tagUrl | url }}" class="post-tag px-3 py-1 text-xs capitalize rounded-full shadow-xl shadow-blue-100 bg-blue-500 text-white {% tagsmeta tag %}">{{ tag }}</a>
			{%- endfor %}
		</div>
	</div>
</div>

<article class="max-w-4xl mx-auto p-6 {{ custom_class }}">
	{{ content | safe }}
	{%- if collections.posts %}
		{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
		{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
		{%- if nextPost or previousPost %}
			<ul class='flex flex-wrap justify-around font-heading gap-3 py-4 bg-gray-200'>
				{%- if previousPost %}
					<li>
						<span class='font-bold'>Previous:</span>
						<a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
					</li>
				{% endif %}
				{%- if nextPost %}
					<li>
						<span class='font-bold'>Next:</span>
						<a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
					</li>
				{% endif %}
			</ul>
		{%- endif %}
	{%- endif %}
</article>