---
title: Blog
layout: layouts/base.njk
permalink: /blog/
eleventyNavigation:
  parent: primary
  key: Blog
  order: 2
---

<!-- Main Start -->
<div class="main-container  pt-6 bg-gray-100 ">
  <div class="px-5 py-10 text-center space-y-2 text-gray-700">
    <h1 class="text-3xl sm:text-4xl font-bold">{{title}}</h1>
  </div>
</div>

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}