---
title: Best Bookmarklets to use
subtitle: Best Bookmarklets to use for SEO, Debugging, and Productivity
showSubtitle: true
layout: layouts/base.njk
permalink: /bm/
eleventyNavigation:
  parent: primary
  key: Bookmarklets
  order: 2
---

<!-- Main Start -->

{% include "partials/hero.njk" %}

{% set postslist = collections.bookmarklets | reverse %}
{% include "components/bookmarkletlist.njk" %}