---
title: "No Ads"
description: "A better version of bulk URL opener in your browser without installing anything with cool features that you would not find anywhere else. No Ads."
layout: layouts/home.njk
templateClass: tmpl-index-en
---

{# in home we are extending base layout and adding lang code, here just adding content block #}
{%- block content %}
{# <article class="max-w-4xl mx-auto"> #}
		<div class="main-container -mt-6 pt-6 bg-gray-100">
		<div class="px-5 py-10 text-center space-y-2 text-gray-700"
			>
			<h1 class="text-3xl sm:text-4xl font-bold ">{{ title }}</h1>
			<p class="text-gray-700">{{subtitle}}</p>
      {# <time class="text-gray-500 text-sm py-2" datetime="{{ page.date | htmlDateString }}">Updated on: {{ page.date | readableDate }}</time> #}
      <div class="w-full">
      {%- for tag in tags | filterTagList %}
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-tag px-3 py-1 text-xs capitalize rounded-full shadow-xl shadow-blue-100 bg-blue-100 text-blue-500">{{ tag }}</a>
      {%- endfor %}
      </div>
		</div>
	</div>
<article
class="max-w-7xl mx-auto "
>
	<!-- Main Start -->
	<div class="main-container pt-6 p-5">
		<p class=" mb-4">some other layout</p>
	</div>

	{% set postslist = collections.posts %}
	{% include "postslist.njk" %}
</article>
	<!-- Main End -->

	{# end of content block #}
{# </article> #}
{%- endblock %}