/* ./your-css-folder/styles.css */
/* Import Inter and Poppins font */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-heading;
	}
	body {
		@apply font-sans text-gray-700 ;
	}
	kbd {
		@apply py-0.5 px-2 bg-gray-100 border-gray-300;
	}
	/*     body article a{
        @apply decoration-wavy underline decoration-gray-400 transition hover:decoration-gray-700
    } */

	/* anchor text highlight on over */
	h2:hover a,
	h3:hover a,
	h4:hover a,
	h5:hover a,
	h6:hover a {
		@apply opacity-100 text-gray-300;
	}

	/* .direct-link {
		@apply opacity-0 text-gray-300 font-semibold ml-1;
	} */

	/* inside .post article layout */
	/* main[data-layout*='post'] article a,
	main[data-layout*='page'] article a {
		@apply text-blue-500;
	} */
	article a {
		@apply text-blue-500;
	}

	main[data-layout*='post'] article,
	main[data-layout*='page'] article {
		@apply space-y-4;
	}
	/*  main[data-layout="post"] a:hover{
        @apply text-blue-700
    } */
}
@layer components {
	/* alert boxes */
	.alert {
		@apply p-6 relative rounded-lg my-4;
	}
	.alert > .icon {
		@apply absolute h-8 aspect-square -left-5 top-5 rounded-full bg-white flex items-center justify-center;
	}
}

@layer utilities {
}
