
<!-- suggestions form link -->
<a
    class="fixed bg-blue-500 bottom-5 flex font-extrabold font-heading h-12 hover:bg-blue-700 items-center justify-center right-5 rounded-full shadow-blue-200 shadow-xl text-2xl text-white w-12"
    href="https://forms.gle/w9jEcYRZhQ6ex2Tj7"
    target="_blank"
    rel=""
    >

    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"></path>
    </svg>
</a>
<!-- suggestions form link -->