
<header class="relative">
    <div class="bg-blue-700 content-center flex flex-wrap h-32 p-3">
        <div class="mx-auto">
            <div class="text-3xl font-bold text-white text-center font-heading"> <a href="/" translate="no">{{ metadata.title }}</a>
                <span class="text-xs opacity-50"></span>
            </div>
        </div>
    </div>
    <!-- menu wrapper -->
    <div class="-mt-6 mx-auto md:mx-8">
        <!-- menu container -->
        <nav class="container flex flex-wrap justify-between items-center bg-white mx-auto py-2.5 px-4 shadow-md shadow-blue-50 z-100 sm:rounded font-heading">



            <!-- menu logo on mobile -->
            <a href="/" class="flex items-center text-gray-700">
                <!-- <img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="open bulk url Logo" /> -->
                <span class="self-center font-semibold whitespace-nowrap pl-2 md:py-0">Home</span>
            </a>
            <!-- menu button -->
            <button data-col
            lapse-toggle="mobile-menu"
            type="button"
            class="inline-flex items-center  ml-3 text-sm text-gray-500 rounded-lg md:hidden "
            aria-controls="mobile-menu"
            aria-expanded="false"
            onclick='toggleElement("#menu")'
            >
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <!-- menu items -->

            <div class=" w-full hidden md:block md:w-auto" id="menu">
                {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
                {# https://www.11ty.dev/docs/plugins/navigation/#bring-your-own-html-render-the-menu-items-manually #}

                {# using eleventy navigation #}
                    {% set navPages = collections.all | eleventyNavigation("primary") %}
                    {# {{ navPages | dump | safe }} #}
                    <ul class="flex flex-col md:flex-row content-center justify-center px-0 md:px-5 text-gray-600 font-semibold ">
                    {%- for entry in navPages %}
                    <li
                    {% if entry.url == page.url %} class="my-active-class bg-gray-50 rounded-sm"
                    {%else%} class="rounded-sm hover:bg-gray-50"
                    {% endif %}>
                        <a class="block p-2 text-gray-700 md:py-0" href="{{ entry.url }}">{{ entry.title }}</a>
                    </li>
                    {%- endfor %}
                    </ul>
                {# eleventy navigation end #}

            </div>

    </nav>

    </div>
</header>