{# if used in more places then following plugin can be used to make it easier https://www.11ty.dev/docs/plugins/i18n/ #}
<!-- language start -->
<link rel="alternate" hreflang="x-default" href="https://openbulkurl.com/"/>
<link rel="alternate" hreflang="en" href="https://openbulkurl.com/"/>
<link rel="alternate" hreflang="zh" href="https://openbulkurl.com/zh"/>
<link rel="alternate" hreflang="hi" href="https://openbulkurl.com/hi"/>
<link rel="alternate" hreflang="es" href="https://openbulkurl.com/es"/>
<link rel="alternate" hreflang="ar" href="https://openbulkurl.com/ar"/>
<link rel="alternate" hreflang="bn" href="https://openbulkurl.com/bn"/>
<link rel="alternate" hreflang="ru" href="https://openbulkurl.com/ru"/>
<link rel="alternate" hreflang="pt" href="https://openbulkurl.com/pt"/>
<link rel="alternate" hreflang="id" href="https://openbulkurl.com/id"/>
<link rel="alternate" hreflang="fr" href="https://openbulkurl.com/fr"/>
<!-- language end-->
