
<!-- more tools start  -->
<div class="py-16 bg-white  ">

    <section class="container p-6 mx-auto space-y-3">
        <h4 class="text-xl font-bold text-gray-700 capitalize  md:text-3xl text-center">⚒️ More Tools 🛠️</h4>
        <p class="text-center">Tools that will help you get things done in less time.</p>

        <div class="flex items-center justify-center">
            <div class="grid gap-8 my-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
                <!-- cards -->
                <div class="w-full max-w-xs text-center">
                    <a href="/" target="_blank">
                        <div class="object-cover object-center w-full h-48 mx-auto rounded-lg bg-blue-100 border-4 border-blue-200" >
                            <div class="py-16 px-4">
                                <h5 class="text-lg font-bold t">Open Bulk URL</h5>
                                <span class="mt-1 font-medium ">In new tab/windows</span>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-full max-w-xs text-center"><a href="/random/" target="_blank">
                        <div class="object-cover object-center w-full h-48 mx-auto rounded-lg bg-blue-100 border-4 border-blue-200" >
                            <div class="py-16 px-4">
                                <h5 class="text-lg font-bold ">Random Websites</h5>
                                <span class="mt-1 font-medium ">Random but Useful websites
                                    collection</span>

                            </div>
                        </div>
                    </a>
                </div>

                <div class="w-full max-w-xs text-center"><a href="/extract-url/" target="_blank">
                    <div class="object-cover object-center w-full h-48 mx-auto rounded-lg bg-blue-100 border-4 border-blue-200" >
                        <div class="py-16 px-4">
                            <h5 class="text-lg font-bold ">Extract URL from text</h5>
                            <span class="mt-1 font-medium ">Easily extract URL in Bulk</span>
                        </div>
                    </div>
                </a>
            </div>


                <div class="w-full max-w-xs text-center"><a href="/auto-reload/" target="_blank">
                        <div class="object-cover object-center w-full h-48 mx-auto rounded-lg bg-blue-100 border-4 border-blue-200" >
                            <div class="py-16 px-4">
                                <h5 class="text-lg font-bold ">Auto Reload Websites</h5>
                                <span class="mt-1 font-medium ">Useful websites collection</span>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="w-full max-w-xs text-center"><a href="#" target="_blank">
                        <div class="object-cover object-center w-full h-48 mx-auto rounded-lg bg-gray-100 border-4 border-gray-200" >
                            <div class="py-16 px-4">
                                <h5 class="text-lg font-bold ">Coming Soon</h5>
                                <span class="mt-1 font-medium ">More tools</span>
                            </div>
                        </div>
                    </a>
                </div>




                <!-- <div class="w-full max-w-xs text-center">
                <img class="object-cover object-center w-full h-48 mx-auto rounded-lg" src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="avatar"/>

                <div class="mt-2">
                    <h5 class="text-lg font-medium text-gray-700  ">Jane Doe</h5>
                    <span class="mt-1 font-medium text-gray-600  ">Co-founder</span>
                </div>
            </div> -->




            </div>
        </div>
    </section>
</div>

<!-- more tools end-->